<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration Success</title>
    </head>
    <body>
        <p>
            <span th:text="${message}"></span>
        </p>
    </body>
</html>