<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration Success</title>
    </head>
    <body>
        <p>
            <span th:text="'A verification email has been sent to: ' + ${emailId}"></span>
        </p>
    </body>
</html>